# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Popular languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- Open Source Data Science Tools
## Author
Michael Ezegbirirka

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. Seaborn

| Data Science Tools |
| --- |
| Jupyter |
| Apache Zeppelin |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335